/* start coding here */
button[type="submit"]{
    width: 120px;
    height: 36px;
    border-color: lightgreen;
    background-color: khaki;
}
input {
    width: 240px;
    height: 50px;
    border-radius: 3px;
}